body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.bgimage {
  background-image: url(bg.png);
  width: 98.4%;
  height: 350px;
  margin: 11px;
}

.about-top {
  width: 100%;
  height: 470px;
  background-color: black;
}
.about-title {
  margin-left: 23%;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
  font-family: Raleway-Medium;
  color: rgb(255, 255, 255);
}
.about-ex {
  margin-left: 60%;
  padding-top: 13px;
  font-family: Bradley Hand, cursive;
  font-size: 30px;
  color: rgb(194, 194, 194);
}
.about-ex2 {
  margin-left: 8%;
  padding-top: 13px;
  font-family: Bradley Hand, cursive;
  font-size: 30px;
  color: rgb(194, 194, 194);
}
.about-ex3 {
  margin-left: 35%;
  padding-top: 13px;
  font-family: Bradley Hand, cursive;
  font-size: 30px;
  color: rgb(194, 194, 194);
}
.about-ex4 {
  margin-left: 60%;
  padding-top: 13px;
  font-family: Bradley Hand, cursive;
  font-size: 30px;
  color: rgb(194, 194, 194);
}
.about-ex5 {
  margin-left: 16%;
  padding-top: 13px;
  font-family: Bradley Hand, cursive;
  font-size: 30px;
  color: rgb(194, 194, 194);
}


.homepage-wrapper {
  background-color: black;
  width: 100%;
  height: 800px;
  color: white;
  display: flex;
  flex-direction: row;
}
.homepage-title {
  font-family: Tahoma;
  color: white;
  /* font-weight: bold; */
  font-size: 70px;
  margin-left: 2%;
  padding: 50px;
}
.homepage-text {
  font-family: fantasy;
  color: white;
  font-size: 30px;
  margin-left: 6%;
  padding: 20px;
}
.homepage-right {
  width: 70%;
}

.camera-image {
  background-image: url(images.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 100px;
}

.landmark-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: -10px;
	margin-bottom: -10px;
}

.eachDiv {
  flex-grow: 1;
	flex-shrink: 0;
  /* flex-basis: calc(25% - 10px); */
  width: 30%;
  /* width: calc(100% * (1 / 4) - 10px - 1px); */
  /* flex: 1 1 25%; */
}
.eachDiv:nth-child(even) {
	margin: 0px 15px 13px 13px;
}
.eachDiv:nth-child(odd) {
	margin: 0px 7px 7px 0px;
}


.eachImg {
  height: 300px;
}

.form {
  background: rgba(0, 0, 0, 0.9);
  padding: 40px;
  max-width: 100%;
  height: 800px;
  border-radius: 4px;
  box-shadow: 0 5px 10px 5px rgba(84, 85, 85, 0.3);
}
.form-title {
  font-family: fantasy;
  color: white;
}
.form-wrapper {
  width: 340px;
  margin: 0px auto;
  font-family: fantasy;
  display: flex;
  flex-direction: column;
}
.input-box {
  width: 280px;
  height: 45px;
}
.input-text {
  font-size: 20px;
  color: white;
}
.btn-info-own {
  width: 280px;
  height: 45px;
  margin-top: 30px;
  color: rgb(0, 0, 0);
  background-color: rgb(231, 231, 231);
  font-size: 14px;
}

.btn-info {
  color: white;
  width: 280px;
  padding-top: 15px;
  height: 45px;
  font-size: 14px;
  background-color: #d34836;
}
.btn-info-facebook {
  color: white;
  width: 280px;
  padding-top: 15px;
  height: 45px;
  font-size: 14px;
  background-color: #3b5998;
}
